.obsidian-dev-utils {
  :invalid {
    box-shadow: 0 0 0 2px var(--text-error);
  }

  .multiple-dropdown-component {
    select, .dropdown {
      height: auto;

      option:checked {
        background-color: initial;
      }
    }
  }
}
