---
interface MethodRow {
  description: string;
  href: string;
  inheritedFrom?: string;
  returns: string;
  signature: string;
}

interface Props {
  rows: MethodRow[];
}

const { rows } = Astro.props;
---

<h2>Methods</h2>
<table>
  <colgroup>
    <col style="width: 20%" />
    <col style="width: 30%" />
    <col style="width: 50%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: left">Method</th>
      <th style="text-align: left">Returns</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    {rows.map((row) => {
      const inherited = row.inheritedFrom
        ? `<br/><em>(Inherited from ${row.inheritedFrom})</em>`
        : '';
      return (
        <tr>
          <td style="text-align: left"><a href={row.href} set:html={row.signature} /></td>
          <td style="text-align: left" set:html={row.returns} />
          <td style="text-align: left" set:html={row.description + inherited} />
        </tr>
      );
    })}
  </tbody>
</table>
