---
interface PropertyRow {
  description: string;
  href: string;
  inheritedFrom?: string;
  name: string;
  type: string;
}

interface Props {
  rows: PropertyRow[];
}

const { rows } = Astro.props;
---

<h2>Properties</h2>
<table>
  <colgroup>
    <col style="width: 20%" />
    <col style="width: 30%" />
    <col style="width: 50%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: left">Property</th>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    {rows.map((row) => {
      const inherited = row.inheritedFrom
        ? `<br/><em>(Inherited from ${row.inheritedFrom})</em>`
        : '';
      return (
        <tr>
          <td style="text-align: left"><a href={row.href}>{row.name}</a></td>
          <td style="text-align: left" set:html={row.type} />
          <td style="text-align: left" set:html={row.description + inherited} />
        </tr>
      );
    })}
  </tbody>
</table>
